{% extends 'FeatureBundle:Default:layout.html.twig' %}
{% block content %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}

{% block script %}
<script>
    $(document).ready(function(){

        form
    })
</script>

{% endblock %}