{% extends 'SonataAdminBundle::standard_layout.html.twig' %}
        
{% block breadcrumb %}
    <li><a href="{{ url('sonata_admin_dashboard') }}">{% trans %}Dashboard{% endtrans %}</a><span
                class="divider">/</span></li>
    <li class="active">Custom Page</li>
{% endblock %}
    
{% block content %}
    <style>


        td {
            padding: 10px;
        }
    </style>
    <h1>{{ product.getTitle }}</h1><br>
    {% for productVersionId, productVersionData in changes %}
        <h2><a target="_blank"
               href="{{ path('admin_feature_productversion_edit', {'id' : productVersionId}) }}">{{ productVersionData.label }}</a></h2><br>
        <table>
            <thead>
            <tr>
                <td>Фича</td>
                {% for status in statuses %}
                    <td>{{ status.getName() }}</td>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for featuresVersionId, featuresVersionData in productVersionData.features_versions %}
                <tr>
                    <td><a target="_blank"
                           href="{{ path('admin_feature_featureversion_edit', {'id' : featuresVersionId}) }}">{{ featuresVersionData.label }}</a></td>
                    {% for status in statuses %}

                        <td>{{ featuresVersionData.status_changes[status.getId()] is defined ? featuresVersionData.status_changes[status.getId()]  : ' '  }}</td>

                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <hr>
    {% endfor %}
{% endblock %}