{% extends 'SonataAdminBundle::standard_layout.html.twig' %}
        
{% block breadcrumb %}
    <li><a href="{{ url('sonata_admin_dashboard') }}">{% trans %}Dashboard{% endtrans %}</a><span
                class="divider">/</span></li>
    <li class="active">Custom Page</li>
{% endblock %}
    
{% block content %}
    <style>
        table {
            width: 300px;
        }
        td {
            padding: 10px;
        }
    </style>
    {% for productTitle, versions in list %}
        <h1>{{ productTitle|split('|||')[1] }}</h1><a target="_blank"
                                      href="{{ path('feature_versions_status_changes_for_product', {'product' : productTitle|split('|||')[0]}) }}">просмотреть переходы по статусам</a><br>
        {% for productVersionTitle, featureVersions in versions %}
            <h2>{{ productVersionTitle }}</h2><br>
            <table cellpadding="7">
                <thead>
                <tr>
                    <td>Фича</td>
                    <td>Версия</td>
                    <td>Статус</td>
                </tr>
                </thead>
                <tbody>
                {% for version in featureVersions %}
                    <tr>
                        <td><a target="_blank"
                               href="{{ path('admin_feature_feature_edit', {'id' : version.feature_id}) }}">{{ version.feature_name }}</a>
                        </td>
                        <td><a target="_blank"
                               href="{{ path('admin_feature_featureversion_edit', {'id' : version.feature_version_id}) }}">{{ version.feature_version_number }}</a>
                        </td>
                        <td><a target="_blank"
                               href="{{ path('admin_feature_featureversionproductversionstatus_edit', {'id' : version.feature_version_status_id}) }}">{{ version.feature_version_status_name }}</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        {% endfor %}

        <hr>
    {% endfor %}
{% endblock %}